<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Service contracts -->
    <preference for="PixelPerfect\DiscountExclusion\Api\DiscountExclusionManagerInterface"
                type="PixelPerfect\DiscountExclusion\Service\DiscountExclusionManager"/>
    <preference for="PixelPerfect\DiscountExclusion\Api\MessageProcessorInterface"
                type="PixelPerfect\DiscountExclusion\Service\MessageProcessor"/>
    <preference for="PixelPerfect\DiscountExclusion\Api\ConfigInterface"
                type="PixelPerfect\DiscountExclusion\Service\Config"/>
    <preference for="PixelPerfect\DiscountExclusion\Api\ExclusionResultCollectorInterface"
                type="PixelPerfect\DiscountExclusion\Service\ExclusionResultCollector"/>

    <!-- Configure discount validator plugin -->
    <type name="Magento\SalesRule\Model\Validator">
        <plugin name="discount_exclusion_validator"
                type="PixelPerfect\DiscountExclusion\Plugin\SalesRule\Model\ValidatorPlugin"
                sortOrder="10"/>
    </type>

    <!-- Configure strategies -->
    <type name="PixelPerfect\DiscountExclusion\Service\DiscountExclusionManager">
        <arguments>
            <argument name="strategyEligibilityGuards" xsi:type="array">
                <item name="coupon_only" xsi:type="object">PixelPerfect\DiscountExclusion\Model\StrategyEligibilityGuards\CouponOnly</item>
                <item name="ampromo" xsi:type="object">PixelPerfect\DiscountExclusion\Model\StrategyEligibilityGuards\Ampromo</item>
                <item name="zero_price" xsi:type="object">PixelPerfect\DiscountExclusion\Model\StrategyEligibilityGuards\ZeroPrice</item>
            </argument>

            <argument name="strategies" xsi:type="array">
                <item name="special_price" xsi:type="object">PixelPerfect\DiscountExclusion\Model\Strategy\SpecialPriceStrategy</item>
                <item name="catalog_rule" xsi:type="object">PixelPerfect\DiscountExclusion\Model\Strategy\CatalogRuleStrategy</item>
            </argument>
        </arguments>
    </type>

    <!-- Proxies -->
    <type name="PixelPerfect\DiscountExclusion\Service\MessageProcessor">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="PixelPerfect\DiscountExclusion\Observer\CouponPostObserver">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

</config>
