<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="sales_quote_collect_totals_after">
        <observer name="discount_exclusion_graphql_message_queue"
                  instance="PixelPerfect\DiscountExclusion\Observer\CollectTotalsMessageQueueObserver"/>
    </event>
</config>
